extends layout

block content

	.row.col-sm-12
	.col-xs-3
		h1 NameSurfer
		.input-group.input-group-lg
			input#input.form-control(type='text', placeholder='Name', aria-describedby='sizing-addon1')
		#btnBrowse.btn-group(role='group')
			button.btn.btn-primary(type='button') Browse
		#btnClear.btn-group(role='group')
			button.btn.btn-danger(type='button') Clear
	.box.col-xs-8
		canvas#lineChart(height='300', width='500')

	script(type='text/javascript').
		var names = !{JSON.stringify(names)};
		var colors = !{JSON.stringify(colors)};
	script(src='/javascripts/main.js')
