body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box{
  position: inherit;
	margin: 0 auto;
	width: 500px;
}

#btnClear{
  margin: 10px 10px 0px 0px;
}

#btnBrowse{
  margin: 10px 10px 0px 0px;
}
